@import "../variables";

.pizza-block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;

  &__image {
    width: 100%;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  @media (min-width: 670px) and (max-width: 785px) {
    width: 260px;

    .pizza-block__title {
      font-size: 18px;
    }

    .pizza-block__price {
      font-size: 20px;
    }

    .button--add {
      padding: 7px 13px;
    }
  }

  @media (max-width: 670px) {
    width: 350px;

    .pizza-block__title {
      font-size: 24px;
    }

    .pizza-block__price {
      font-size: 26px;
    }

    .button--add {
      padding: 12px 22px;
    }
  }

  @media (max-width: 455px) {
    width: 300px;

    .pizza-block__title {
      font-size: 20px;
    }

    .pizza-block__price {
      font-size: 24px;
    }

    .button--add {
      padding: 10px 20px;
    }
  }

  @media (max-width: 395px) {
    width: 280px;

    .pizza-block__title {
      font-size: 18px;
    }

    .pizza-block__price {
      font-size: 22px;
    }

    .button--add {
      padding: 8px 18px;
    }
  }

  @media (max-width: 365px) {
    width: 260px;

    .pizza-block__title {
      font-size: 16px;
    }

    .pizza-block__price {
      font-size: 20px;
    }

    .button--add {
      padding: 8px 18px;
    }
  }
}
